@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


body{

    opacity: 0;
    transition: opacity 1s ;

    /* background: url("bg.jpg"); */

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.753)),url('bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    color: white;
    background-repeat: no-repeat;
}


h1{
    /* font-family: 'Raleway Dots'; */
    font-family: 'Lovers Quarrel', cursive;
    font-weight: normal;
    font-size: 80px;
    cursor: default;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.66);
    margin: 30px;
    margin-top: 10px;
    cursor: default;
}

.skillBoxes{
    display: flex;
}

.skillBoxes .skillbox{

    color: rgba(255, 255, 255, 0.66);

    padding: 5px;
    height: 150px;
    width: 160px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 3px;
    box-shadow: 1px 1px 1px #00000033;
    border: .5px solid rgba(0, 0, 0, 0.055);

    background-color: #ffffff27;

    cursor:pointer;

    transition: transform .2s, color .2s;

}

.skillbox:hover{
 
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.945);
    
}



footer{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

footer i{
    margin: 5px;
    cursor: pointer;
    transition: transform .1s, color .1s;

    color: rgba(255, 255, 255, 0.66);
}

footer i:hover{
    transform: scale(1.1);

    color: rgba(255, 255, 255, 0.945);
}



.skillpoints{
    cursor: default;
    min-height: 80px;
    padding: 20px;
    margin-top: 40px;
    opacity: 0%;
    color: rgba(255, 255, 255, 0.788);
    transition: opacity .4s;
    text-align: center;
    /* border-radius: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0)); */    
}

.fullOpacity{
    opacity: 100%;
}



@media only screen and (max-width: 615px) {
    .skillBoxes {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 40px;
    }

    .skillBoxes .skillbox{
        width: 100%;
        height: 50px;
        margin: 5px 0;

    }

    h1{
        font-size: 50px;
    }

    h3{

        font-size: 15px;   
        margin:15px;
    }

  }

  @media only screen and (max-height: 460px){
    /* footer{
        display: none;
    } */

  } 


.showSite{
    opacity: 100%;
}




/* CHATBOT */


.chatbot{

    z-index: 999;

    width: 300px;
    height: 400px;
    /* position: absolute;
    bottom: 10px;
    right: 10px; */
    background: #3966b9;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.445);
    transition: transform .2s ease-in-out;
}
.chatbot:hover{
    transform: scale(1.01);
}


.chatdisplayArea{
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    font-size: 13px;
    word-break: break-word;
}

.answer,.question{
    margin: 5px 0px;
    padding: 5px;
    border-radius: 3px;
}


.question{
    /* background: rgb(153, 153, 153); */
    text-align: left;
}

.answer{
     background: rgba(209, 209, 209, 0.171);
     text-align: right
}

#chatbotform{
    width: 100%;
    display: flex;
    min-height: 40px;
    
}

#askbox{
    margin: 5px 0px;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    border: none;
}

#sendutton{
    flex-grow: 1;
    cursor: pointer;
    border:none;
}

#askbox,#sendutton{
    margin: 0;
}

#sendutton{
    margin-left: 2px;
    transition: background-color .2s;
}

#sendutton:hover{
    margin-left: 2px;
    background-color: rgb(223, 221, 221);
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.chatbottitle{
    margin-bottom: 15px;
    display: flex;
    /* background-color: rgb(173, 98, 98); */
}

.chatbottitle .title{
    flex-grow: 1;
}

.chatbottitle .close{
    color: white;
    cursor: pointer;
    font-size: 11px;

}
.chatbottitle .close:hover{
    transform: scale(1.1);
}



.status{
    
    text-align: center;
    font-size: 10px;
    margin: 5px 0;
    padding: 2px;
}

.connected{
    background-color: #4BB543
}
.disconnected{
    background-color: #ff0033
}





/* Section */

.mainsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding-top: 40px;
}

.chatbotsection{
    background: #443d3e;
    padding: 50px 30px;    
}
.chatbotsection .middle{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.chatbotsection .top{
    text-align: center;
}

.chatbotsection .bottom{
    text-align: center;
}





/* temp */

.chatbodetails{
    text-align: center;
    margin-right: 40px;
}

.chatBotIcon{
    background-color: rgb(223, 223, 223);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transition: transform .2s, background-color .2s ;

}

/* .chatBotIcon:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
} */

.chatBotIcon img{
    height: 100px;
    width: 100px;
}


@media only screen and (max-width: 790px) {


    .chatbotsection .middle{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .chatbodetails{
        margin-right: 0px
    }
    
    .chatbot{
        margin-left: 0px;
        margin-top: 30px;
    }
    
    .chatBotIcon img,.chatBotIcon{
        height: 60px;
        width: 60px;
    }

    .skillpoints{
        font-size: 10px;
    }

    footer,.copyright{
        font-size: 10px;
    }

    .skillpoints {
        min-height: 80px;
    }

}


.copyright{
    padding-bottom: 10px;
    text-align: center;
    opacity: .5;
}




@media only screen and (max-width: 500px) {

    .chatbot{
        height: 250px;
        font-size: 10px;
    }

    .chatdisplayArea,#chatbotform{
        font-size: 10px;
        min-height: 0;
    }

   #askbox,#sendutton{
        height: 25px;
    }

    footer i{
        margin: 2px;
    }

    footer{
        padding: 15px;
    }

    footer,.copyright{
        font-size: 5px;
    }
}



@media only screen and (max-width: 322px) {

    .chatbot,#chatbotform{

        display: none;
    }

}



.chatbotsection a{
    color: white;
    /* text-decoration: none; */
}



/* TYPING DOTS ANIMATION */

.chat-bubble {

    
  }
  .typing {
    align-items: center;
    display: flex;
    height: 17px;
    justify-content: center;
  }
  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #6CAD96 ;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
  }
  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }
  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }
  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }
  .typing .dot:last-child {
    margin-right: 0;
  }
  
  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color:#6CAD96; 
    }
    28% {
      transform: translateY(-7px);
      background-color:#9ECAB9; 
    }
    44% {
      transform: translateY(0px);
      background-color: #B5D9CB; 
    }
  }


