@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


body{

    opacity: 0;
    transition: opacity 1s ;

    min-height: 100vh;
    /* background: url("bg.jpg"); */

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.582)),url('bg.jpg');
    background-size: cover;
    background-position: center;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
}


h1{
    font-family: 'Raleway Dots';
    font-size: 50px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.66);
    margin: 30px;
}

.skillBoxes{
    display: flex;
}

.skillBoxes .skillbox{

    color: rgba(255, 255, 255, 0.66);

    padding: 5px;
    height: 150px;
    width: 160px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 3px;
    box-shadow: 1px 1px 1px #00000033;
    border: .5px solid rgba(0, 0, 0, 0.055);

    background-color: #ffffff27;

    cursor:pointer;

    transition: transform .2s, color .2s;

}

.skillbox:hover{
 
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.945);
    
}



footer{
    font-size: 30px;
    position: fixed;
    bottom: 10px
}

footer i{
    margin: 5px;
    cursor: pointer;
    transition: transform .1s, color .1s;

    color: rgba(255, 255, 255, 0.66);
}

footer i:hover{
    transform: scale(1.1);

    color: rgba(255, 255, 255, 0.945);
}



.skillpoints{
    min-height: 150px;
    padding: 20px;
    margin-top: 40px;
    opacity: 5%;
    color: rgba(255, 255, 255, 0.788);
    transition: opacity .4s;
    text-align: center;
    /* border-radius: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0)); */
    
}

.fullOpacity{
    opacity: 100%;
}



@media only screen and (max-width: 615px) {
    .skillBoxes {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 40px;
    }

    .skillBoxes .skillbox{
        width: 100%;
        height: 50px;
        margin: 5px 0;

    }

    h1{
        font-size: 30px;
    }

    h3{

        font-size: 15px;   
        margin:15px;
    }

    footer{
        font-size: 20px;
    }

  }

  @media only screen and (max-height: 460px){
    footer{
        display: none;
    }

  } 


.showSite{
    opacity: 100%;
}




/* CHATBOT */


.chatbot{

    z-index: 999;

    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgb(26 75 165);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chatdisplayArea{
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    font-size: 13px;
    word-break: break-word;
}

.answer,.question{
    margin: 5px 0px;
    padding: 5px;
    border-radius: 3px;
}


.question{
    /* background: rgb(153, 153, 153); */
    text-align: left;
}

.answer{

     background: rgba(209, 209, 209, 0.171);
     text-align: right
}

#chatbotform{
    background: rgb(0, 124, 31);
    width: 100%;
    display: flex;
    min-height: 40px;
    
}

#askbox{
    margin: 5px 0px;
    outline: none;
    flex-grow: 1;
    padding: 5px;
}

#sendutton{
    flex-grow: 1;
    cursor: pointer;
}

#askbox,#sendutton{
    margin: 0;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.chatbottitle{
    margin-bottom: 15px;
    display: flex;
}

.chatbottitle .title{
    flex-grow: 1;
}

.chatbottitle .close{
    color: white;
    cursor: pointer;
    font-size: 11px;

}
.chatbottitle .close:hover{
    transform: scale(1.1);
}



.status{
    
    text-align: center;
    font-size: 10px;
    margin: 5px 0;
    padding: 2px;
}

.connected{
    background-color: #4BB543
}
.disconnected{
    background-color: #ff0033
}



/* temp */

.chatbodetails{
    text-align: center;
}

.chatBotIcon{
    background-color: rgb(223, 223, 223);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    transition: transform .2s, background-color .2s ;

}

.chatBotIcon:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.chatBotIcon img{
    height: 100px;
    width: 100px;
}