@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


body{

    opacity: 0;
    transition: opacity 1s ;

    min-height: 100vh;
    /* background: url("bg.jpg"); */

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.582)),url('bg.jpg');
    background-size: cover;
    background-position: center;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
}


h1{
    font-family: 'Raleway Dots';
    font-size: 50px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.66);
    margin: 30px;
}

.skillBoxes{
    display: flex;
}

.skillBoxes .skillbox{

    color: rgba(255, 255, 255, 0.66);

    padding: 5px;
    height: 150px;
    width: 160px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 3px;
    box-shadow: 2px 2px 2px #494949;
    background-color: #ffffff27;

    cursor:pointer;

    transition: transform .2s, color .2s;

}

.skillbox:hover{
 
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.945);
    
}



footer{
    font-size: 30px;
    position: fixed;
    bottom: 10px
}

footer i{
    margin: 5px;
    cursor: pointer;
    transition: transform .1s, color .1s;

    color: rgba(255, 255, 255, 0.66);
}

footer i:hover{
    transform: scale(1.1);

    color: rgba(255, 255, 255, 0.945);
}



.skillpoints{
    min-height: 150px;
    padding: 20px;
    margin-top: 40px;
    opacity: 5%;
    color: rgba(255, 255, 255, 0.788);
    transition: opacity .4s;
    text-align: center;
    /* border-radius: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0)); */
    
}

.fullOpacity{
    opacity: 100%;
}



@media only screen and (max-width: 615px) {
    .skillBoxes {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 40px;
    }

    .skillBoxes .skillbox{
        width: 100%;
        height: 50px;
        margin: 5px 0;

    }

    h1{
        font-size: 30px;
    }

    h3{

        font-size: 15px;   
        margin:15px;
    }

    footer{
        font-size: 20px;
    }

  }

  @media only screen and (max-height: 460px){
    footer{
        display: none;
    }

  } 


.showSite{
    opacity: 100%;
}
